:root {
	--logotipo: #1a1a1a;
	--profesion: #f2f2f2;
	--primario: #80FFB6;
}

:root .darkmode{
  --logotipo: #f2f2f2;
  --profesion: #1a1a1a;
  --primario: #80FFB6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', cursive;
}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

main {
	width: 90%;
	max-width: 800px;
	display: flex;
	align-items: center;
}

.logotipo {
	padding: 10px;
	border: 5px solid var(--logotipo);
	color: var(--logotipo);
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background: var(--logotipo);
	padding: 12px 20px;
	transition: .5s ease all;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.logotipo:hover .subtitulo {
	background: var(--primario);
	color: #1a1a1a;
}


.texto-animado {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.texto-animado > div {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .3s ease all;
}

.texto-animado > div.animacion {
	transform: translateY(-100px);
}

.texto-animado > div span {
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;
}

.texto-animado .segunda-linea {
	position: absolute;
	top: 100px;
}

@media screen and (max-width: 1000px){

	

	.texto-animado > div span {
		font-size: 30px;
		line-height: 30px;
		
	}

	.texto-animado .segunda-linea {
		top: 50px;
		
	}

	.texto-animado > div.animacion {
		transform: translateY(-50px);
	}

	.logotipo .subtitulo {
		font-size: 20px;
	}
}


@media screen and (max-width: 490px){


.logotipo {
	padding: 5px;
	border: 2.5px solid var(--logotipo);
	color: var(--logotipo);
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background: var(--logotipo);
	padding: 3px 5px;
	transition: .5s ease all;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.texto-animado > div span {
		font-size: 25px;
		line-height: 50px;
		
	}

	.texto-animado .segunda-linea {
		top: 50px;
		
	}

	.texto-animado > div.animacion {
		transform: translateY(-50px);
	}

	.logotipo .subtitulo {
		font-size: 20px;
	}

}
